new song file

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>My To-Do List!</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  </head>
  <body>
    <h1>Add a new song to @Model.Description</h1>
    <form action="/artists/@Model.Id/albums/@Model.Id/songs" method="post">
      <input id="albumId" name="albumId" type="hidden" value="@Model.Id">
      <label for="songName">Song Name: </label>
      <input id="songName" name="songName" type="text">
      <button type='submit'>Add Song</button>
    </form>
  </body>
</html>